/*Color Palette*/
/* Primary - #553629
Secondary - #a46f51
Hightlight - #E3CDBF */


/* CSS for custom fonts*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

.arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}

.arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
}

/*Header*/

.navbar {
    background-color: #E3CDBF;
}

.nav-item .nav-link {
    color: #553629;
}

.navbar-brand,
.nav-link {
    color: white;
    font-family: 'arvo-regular';
}

.btn-outline-light {
    color: white;
    border-color: #a46f51;
    background-color: #a46f51;
    font-family: 'arvo-regular';
}

.navbar-toggler {
    border: none;
    color: #553629;
    margin-right: 20px;
}

.logo {
    width: 180px;
    padding-bottom: 8px;
}

.active {
    /*Can't change color, need to fix*/
    color: #553629;
}

/*Main*/

.hero {
    background: url('/assets/images/hero_banner.png') no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;

}

.hero-text h1 {
    margin: 50px 0 0 20px;
    color: white;
    width: 200px;
    font-family: 'arvo-regular';
    font-size: 2rem;
}

.hero-text p {
    margin-left: 20px;
    color: white;
    width: 200px;
    font-family: 'arvo-regular';
    font-size: small;
}

.hero-text button {
    background-color: #E3CDBF;
    color: #553629;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 0 0 0 20px;
    font-size: 13px;
    font-family: 'arvo-regular';
}

/* Team section */

#team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px 40px;
    font-family: 'arvo-regular';
    background-color: #a46f51;
    color: white;
}

#team-section p {
    margin-top: 20px;
}

#team-section h2 {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#team-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#team-members img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 30px;
}

#team-members p {
    margin: 0 0 20px 0;
}

#team-members h3 {
    margin-top: 10px;
}

/* Testimonials */
#section-text {
    width: 100%;
}
#testimonials-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px 40px;
    font-family: 'arvo-regular';
    background-color: #553629;
    color: white;
}
#testimonials-section h2 {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#section-text p {
    font-size: 2rem;
    margin-top: 20px;
    padding-bottom: 20px;
}
.customer-review {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 20px 20px;
    border: 2px solid #E3CDBF;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    
}
.customer-review p {
    color: #E3CDBF;
}


/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}


/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Hero banner*/
    .hero {
        height: 400px;
    }

    .hero-text h1 {
        color: white;
        width: 400px;
        font-size: 3.5rem;
        padding-bottom: 10px;
        margin-top: 40px;
    }

    .hero-text p {
        color: white;
        width: 400px;
        height: 100px;
        font-size: 1.5rem;
    }

    .hero-text button {
        font-size: 1.5rem;
        padding: 15px 30px;
        width: 400px;
        margin-top: 10px;
    }

    /*Team section*/
    #team-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #team-members img {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
        justify-content: center;
    }

    #team-members h3 {
        margin-top: 10px;
    }
}

/*Media query: Laptops and larger (992px and up)*/
@media screen and (min-width: 992px) {
    .hero {
        height: 600px;
    }

    .hero-text h1 {
        color: white;
        width: 400px;
        font-size: 3.5rem;
        padding-bottom: 10px;
        margin-top: 80px;
    }

    .hero-text p {
        color: white;
        width: 400px;
        height: 100px;
        font-size: 2rem;
        margin-top: 20px;
    }

    .hero-text button {
        font-size: 1.5rem;
        padding: 15px 30px;
        width: 400px;
        margin-top: 100px;
    }
}

/* Media query: Large screens (1200px and up) */
@media screen and (min-width: 1200px) {
    .navbar {
        height: 130px;
    }

    .logo {
        height: auto;
        width: 300px;
    }

    .nav-item .nav-link {
        font-size: 1.5rem;
    }
    .btn-outline-light {
        font-size: 1rem;
        margin-left: 10px;
        
    }

    .hero-text h1 {
        color: white;
        width: 700px;
        font-size: 4rem;
        padding-bottom: 10px;
        margin: 80px 0 0 40px;
    }

    .hero-text p {
        color: white;
        width: 600px;
        height: 100px;
        font-size: 2.5rem;
        margin: 20px 0 0 40px;
    }

    .hero-text button {
        font-size: 2rem;
        padding: 15px 30px;
        width: 600px;
        margin: 150px 0 0 40px;
    }

    #team-section h2 {
        font-size: 4rem;
    }

    .team-member p {
        font-size: 1.5rem;
    }

    #section-text p {
        font-size: 2rem;
    }
    #team-members img {
        width: 300px;
        height: 300px;
        margin: 0 100px;
    }
}


/* Notes / to-do */

/* Phone screen sizes,
Horizontally the button stretches too far*/

/* Tablet screen sizes and bigger,
Text isnt positioned well, also button not well positioned */