/* CSS for custom fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Global styles */

/*Color Palette*/
/* Primary - #553629
Secondary - #642E17
Hightlight - #E3CDBF */

html,
body {
    height: 100%;
}

body {
    font-family: 'playfair-display', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/*Header*/
.navbar {
    background-color: #E3CDBF;
}

.navbar .nav-link.active {
    color: black;
}

.nav-item .nav-link {
    color: #642E17;
}

.btn-outline-light {
    color: #E3CDBF;
    background-color: #553629;
    border: none;
}

.btn:hover {
    background-color: #553629;
    color: #E3CDBF;
    transform: scale(1.03);
}

.navbar-toggler {
    border: none;
    color: #553629;
    margin-right: 20px;
}

.logo {
    width: 180px;
    height: auto;
    padding-bottom: 8px;
}

/*Main*/
.hero {
    background: url(assets/images/hero_banner.webp) no-repeat center center/cover;
    position: relative;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    color: #E3CDBF;
}

.hero-text h1 {
    margin: 50px 0 0 20px;
    width: 200px;
    font-size: 2rem;
    color: #E3CDBF;
}

.hero-text p {
    margin-left: 20px;
    width: 200px;
    font-size: small;
    color: #E3CDBF;
}

.hero-text a {
    background-color: #E3CDBF;
    text-decoration: none;
    color: #553629;
    border: none;
    border-radius: 5px;
    padding: 5px 35px;
    margin: 0 0 0 20px;
    font-size: 13px;
}

.hero-text a:hover {
    transform: scale(1.03);
}

/* Team section */
#team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px 40px;
    background-color: #E3CDBF;
    color: #553629;
}

#team-section p {
    margin-top: 20px;
    font-size: 1.5rem;
}

#team-section h2 {
    font-size: 2rem;
    text-align: center;
}

#team-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#team-members img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #553629;
    margin: 0 30px;
}

#team-members p {
    margin: 0 0 20px 0;
}

#team-members h3 {
    margin-top: 10px;
}

.section-text {
    width: 100%;
}

.section-text p {
    font-size: 2rem;
    margin-top: 20px;
}

/* Testimonials */
#testimonials-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px 40px;
    background-color: #553629;
    color: white;
}

#testimonials-section h2 {
    font-size: 2rem;
    text-align: center;
}

#testimonials-section p {
    font-size: 1.5rem;
    margin-top: 20px;
}

.customer-review {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 20px 20px;
    border: 2px solid #E3CDBF;
    border-radius: 10px;
    margin: 10px;
}

.customer-review p {
    color: white;
    font-size: 1.3rem;
}

/* Services */
.services-header h2 {
    background-color: #E3CDBF;
    color: #553629;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 20px 0;
    margin: 0;
}
#services-navbar {
    background-color: #553629;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#services-navbar-links {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    padding: 0 10px;
    color: #E3CDBF;
    margin-top: 10px;
    text-align: center;
}
#services-navbar-links a {
    color: #E3CDBF;
    text-decoration: none;
    font-size: 1.2rem;
}

#services {
    background-color: #E3CDBF;
    color: #553629;
    padding: 20px;
}

.services-section {
    border: 2px solid #553629;
    border-radius: 10px;
    margin: 0 20px 20px;
}

.services-section h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    padding: 20px 10px 0 10px;
    text-align: center;
}

.service-item {
    margin: 30px;
}

#services-button {
    background-color: #E3CDBF;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#services-button a {
    background-color: #553629;
    text-decoration: none;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: #E3CDBF;
    width: 80%;
    padding: 15px 15px;
    font-size: 1.5rem;
}

#services-button a:hover {
    transform: scale(1.03);
}

.button-p {
    padding: 10px 20px 0 20px;
    font-size: 1.2rem;
    color: #553629;
    align-self: center;
}

/* Confirmation page */
#confirmation {
    background-color: #553629;
    color: #E3CDBF;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #E3CDBF;
}

#footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    color: #553629;
}

#contact-us h2 {
    font-size: 2rem;
    margin-top: 30px;
}

#contact-us p {
    font-size: 1rem;
}

#opening-times {
    justify-content: center;
    width: 100%;
    color: #553629;
    border: 2px solid #553629;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

#opening-times h2 {
    text-align: center;
    font-size: 2rem;
}

#socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #553629;
}

#socials h2 {
    font-size: 2rem;
    margin-top: 30px;
}

#social-networks {
    display: flex;
    list-style-type: none;
    padding: 0;
}

#social-networks i {
    color: #553629;
}

#copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #E3CDBF;
    font-size: 1rem;
    color: #553629;
}

#copyright p {
    margin: 20px;
}

/* Form submit page */
#form-section {
    background-color: #553629;
    color: #E3CDBF;
}

#form-section h1,
#form-section p {
    text-align: center;
}

#form-section h1 {
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
}

form h2 {
    margin: 5px;
    padding-bottom: 0px;
    font-size: 1rem;

}

form input,
#service-selector {
    background-color: #E3CDBF;
    color: #553629;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 26px;
    text-align: center;
}

.datetime {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form-btn:hover {
    transform: scale(1.03);
}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Hero banner*/
    .hero {
        min-height: 400px;
    }

    .hero-text h1 {
        width: 400px;
        font-size: 3.5rem;
        padding-bottom: 10px;
        margin-top: 40px;
    }

    .hero-text p {
        width: 400px;
        min-height: 100px;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .hero-text a {
        font-size: 1.5rem;
        padding: 15px 30px;
        width: 400px;
    }

    /*Team section*/
    #team-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #team-members img {
        margin: 0 30px;
    }

    #team-members h3 {
        margin-top: 10px;
    }

    .button-p {
        width: 80%;
    }

    /*Booking form*/
    form {
        width: 75%;
        min-height: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    #form-section h1 {
        font-size: 3rem;
        padding-top: 40px;
    }

    form h2 {
        font-size: 2rem;
    }

    form label {
        font-size: 1.4rem;
    }

    form input {
        font-size: 1.5rem;
        min-height: 40px;
    }

    #form-btn {
        margin: 40px 0;
        align-self: center;
    }

    #service-selector {
        min-height: 40px;
        font-size: 1.5rem;
    }

    .datetime {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .datetime .form-group {
        width: 50%;
    }

    #confirmation h1,
    #confirmation p {
        font-size: 2.5rem;
    }

    /*Footer*/
    #footer-section {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 20px;
    }
}

/*Media query: Laptops and larger (992px and up)*/
@media screen and (min-width: 992px) {
    .hero {
        min-height: 600px;
        padding: 20px;
    }

    .hero-text h1 {
        width: 400px;
        padding-bottom: 10px;
        margin-top: 80px;
    }

    .hero-text p {
        width: 400px;
        min-height: 100px;
        font-size: 2rem;
        margin: 20px;
    }

    .hero-text a {
        display: inline-block;
        text-align: center;
        font-size: 1.5rem;
        padding: 15px 30px;
        width: 400px;
        margin-top: 50px;
    }

    /*Footer*/
    #footer-section {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #copyright {
        min-height: 120px;
    }

    #copyright p {
        display: flex;
        align-items: flex-end;
    }

    /*Form page*/
    form {
        min-height: 600px;
        justify-content: space-around;
    }

    #service-selector {
        font-size: 1.5rem;
    }

    #confirmation h1,
    #confirmation p {
        font-size: 3.5rem;
    }
}

/* Media query: Large screens (1200px and up) */
@media screen and (min-width: 1200px) {

    /*navbar*/
    .navbar {
        min-height: 130px;
    }

    .logo {
        height: auto;
        width: 300px;
    }

    .nav-item .nav-link {
        font-size: 1.5rem;
    }

    .btn-outline-light {
        font-size: 1.5rem;
        margin-left: 10px;
    }

    /*Hero banner*/
    .hero-text h1 {
        width: 700px;
        font-size: 4rem;
        padding-bottom: 10px;
        margin: 80px 0 0 40px;
    }

    .hero-text p {
        width: 600px;
        min-height: 100px;
        font-size: 2.5rem;
        margin: 20px 0 0 40px;
    }

    .hero-text a {
        display: inline-block;
        text-align: center;
        font-size: 2rem;
        padding: 15px 30px;
        width: 600px;
        margin: 150px 0 0 40px;
    }

    /*Team section*/
    #team-section h2 {
        font-size: 3rem;
    }

    .team-member p {
        font-size: 1.5rem;
    }

    #team-members img {
        width: 300px;
        min-height: 300px;
        margin: 0 100px;
    }

    /*Reviews*/
    #testimonials-section h2 {
        font-size: 3rem;
    }

    /*Services page*/
    #services {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .services-section {
        width: 50%;
    }

    .services-header h2 {
        font-size: 3rem;
    }

    #services-button a {
        font-size: 2rem;
        width: 75%;
    }

    #services-button p {
        font-size: 1.5rem;
    }

    /*Booking page*/
    #form-section h1 {
        font-size: 5rem;
    }

    #form-section p {
        font-size: 2rem;
    }
}


/* Notes / to-do */

/* 2. Re-evaluate the layout of Services page to improve the aesthetics */
/* 3. Reconsider the colour scheme */
/* 4. Add a map to footer */
/* 6. Header sticks to top of page when scrolling */